  <% content_for :js do %><%= javascript_include_tag :gmaps %>z
		<%= javascript_include_tag :gmaps %>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.4&libraries=geometry&callback=initMap&key=<%=ENV['GMAPS_KEY']%>"></script>
    <%= javascript_include_tag :home %>
  <% end -%>

    <section class="layout">
      <div id="map"></div>
      <div class="opaque"></div>
    </section>

    <section class="about">
    	<div class="float">
	    	<header>
	        <h1>About the project</h1>
	      </header>
	      <div class="left">
	        <h2 class="margin40">Developed by</h2>
	        <span class="logos">
	          <a class="kew top" href="https://kewgardens.org" target="_blank">KEW</a>
	          <a class="vizzuality" href="https://vizzuality.com" target="_blank">Vizzuality</a>
	        </span>

	        <h2 class="margin40">Supported by</h2>
	        <span class="logos">
	          <a class="iucn" href="https://iucn.org" target="_blank">IUCN</a>
	          <a class="vibrant" href="https://vbrant.eu" target="_blank">VIBRANT</a>
	          <a class="seventh" href="https://cordis.europa.eu/fp7/home_en.html" target="_blank">7th framework</a>
	          <a class="eu" href="https://europa.eu/index_en.htm" target="_blank">EU</a>
            <a class="nerc about" href="https://www.nerc.ac.uk" target="_blank">NERC</a>
	        </span>

	        <h2 class="margin40">Read the paper</h2>
	        <p>Bachman S, Moat J, Hill AW, de la Torre J, Scott B</p>
	        <p><a href="https://www.pensoft.net/J_FILES/1/articles/2109/2109-G-3-layout.pdf" target="_blank">“Supporting Red List threat assessments with GeoCAT: geospatial conservation assessment tool.” (2011)</a></p>
	        <p class="small light">In: Smith V, Penev L (Eds) e-Infrastructures for data publishing in biodiversity science. ZooKeys 150: 117–126. doi: 10.3897/zookeys.150.2109</p>

	        <h2 class="margin40">Citation for the tool</h2>
	        <p>Bachman S, Moat J, Hill AW, de la Torre J, Scott B</p><p><a href="https://www.pensoft.net/J_FILES/1/articles/2109/2109-G-3-layout.pdf" target="_blank">“Supporting Red List threat assessments with GeoCAT: geospatial conservation assessment tool.” (2011)</a></p>
	        <p class="small light">In: Smith V, Penev L (Eds) e-Infrastructures for data publishing in biodiversity science. ZooKeys 150: 117–126. (Version BETA)<sup>*</sup></p>
	        <p class="margin20 tiny light"><sup>*</sup>The tool is currently in BETA.</p>

	      </div>
	      <nav class="right menu">
	      	<a href="/what">What is GeoCAT?</a>
	      	<a href="/help">Help & Support</a>
	      	<a class="selected">About the project</a>
	      </nav>
    	</div>
    	<footer>
	      <div class="inner">
	        <div class="left">
	          <p>All rights reserved. <%= Time.now.year %>. <a href="https://www.kew.org/about-kew/website-information/legal-notices/" target="_blank">Legal terms</a> / <a href="mailto:GISUnit@kew.org">Contact us</a></p>
	        </div>
	        <div class="right">
	          <a href="https://www.vizzuality.com" target="_blank">Vizzuality</a>
	          <p>Developed by</p>
	        </div>
	      </div>
	    </footer>
	    <nav class="links_menu">
	    	<a href="/">&#60; BACK TO GEOCAT TOOL</a>
	    </nav>
    </section>

    <%= render 'shared/analytics' %>
