<% content_for :js do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <%= include_javascripts :main %>
<% end -%>

    <% flash.each do |name, msg| %>
      <div id="flash_<%=name%>" class="flash <%=name%>">
        <p><%= msg %></p>
      </div>
    <% end %>

    <div class="main_layout">
      <div id="map"></div>
      <div class="opaque"></div>

      <div class="layout header">
        <header>
          <h2>Red List Species Assessment Tool</h2>
        </header>
        <section class="name">
          <h1>Analysis Tool for Geospatial Red List Species Assessment</h1>
        </section>
      </div>

      <div class="white_band">
        <div class="inner">
          <%= image_tag 'home/arrow_gray.png', :class => 'arrow' %>
          <ul>
            <li class="selected"><a>How it works</a></li>
          </ul>
          <span class="main_shadow"></span>
          <div id="main_container">
            <span id="beta"></span>
            <label>What species do you want to analyse?</label>
            <form class="up" action="javascript: void goEditor()">
              <input id="inputSearch" type="text" />
              <p>you can try with <a href="/editor/Luzula%20Luzuloides">Luzula Luzuloides</a></p>
              <%= image_tag 'home/ajax-loader.gif', :class => 'loader' %>
            </form>
            <form class="upload" id="upload_form" enctype="multipart/form-data" method="post" action="/editor/">
              <p>or continue working in a previous project</p>
              <a id="upload_button"></a>
              <input type="file" name="file" size="30" id="upload_input" />
            </form>
          </div>
        </div>
      </div>

      <div class="layout blocks">
        <div class="block">
          <h3>1. Select your desired species or create a report from scratch</h3>
          <div class="image">
            <%= image_tag 'home/image_1.jpg' %>
          </div>
        </div>
        <div class="block">
          <%= image_tag 'home/arrow_block.png', :class => 'top' %>
          <h3>2. Manage your sources and work through the map</h3>
          <div class="image">
            <%= image_tag 'home/image_3.jpg' %>
          </div>
        </div>
        <div class="block last">
          <%= image_tag 'home/arrow_block.png', :class => 'bottom' %>
          <h3>3. Download or print your report and start sharing it</h3>
          <div class="image">
            <%= image_tag 'home/image_2.jpg' %>
          </div>
        </div>
      </div>

      <footer>
        <div class="inner">
          <div class="left">
            <p>An effort of</p>
            <a href="http://www.kew.org" target="_blank">
              <%= image_tag 'home/kew_logo.png', :alt => 'Kew' %>
            </a>
            <p>All rights reserved. 2010. <a href="#">Legal terms</a> / <a href="#">Contact us</a></p>
          </div>
          <div class="right">
            <a href="http://www.vizzuality.com" target="_blank">
              <%= image_tag 'home/vizz_logo.png', :alt => 'Vizzuality' %>
            </a>
            <p>Developed by</p>
          </div>
        </div>
      </footer>
    </div>
