  <% content_for :js do %>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.4&libraries=geometry&sensor=true"></script>
    <%= javascript_include_tag :home %>
  <% end -%>

    <% flash.each do |name, msg| %>
      <div id="flash_<%=name%>" class="flash <%=name%>">
        <p><%= msg %></p>
      </div>
    <% end %>

    <section class="layout">
      <div id="map"></div>
      <div class="opaque"></div>
    </section>

    <section class="main">
      <div class="float">
        <header>
          <h1>GeoCAT</h1>
          <p>Geospatial Conservation Assessment Tool</p>
          <h2>Perform rapid geospatial analysis of species in a simple and powerful way.</h2>
          <a class="start" href="/editor">Start a new project</a>
          <form class="upload" id="upload_form" enctype="multipart/form-data" method="post" action="/editor/">
            <p>or <a id="upload_button">import a .geocat /.rla file</a></p>
            <input type="file" name="file" size="30" id="upload_input" />
          </form>
        </header>
        <div class="info">
          <div class="block">
            <h3>Simplified process, usable tool</h3>
            <ul>
              <li class="one">
                <p>Create a report from scratch or upload your previous work.</p>
              </li>
              <li class="two">
                <p>Manage your species data sources and work directly on the map.</p>
              </li>
              <li class="three">
                <p>Download or print your report and start sharing it.</p>
              </li>
            </ul>
          </div>
          <div class="block">
            <h3>Harnessing multiple data sources</h3>
            <p>GeoCAT synchronizes with <a href="https://www.gbif.org" target="_blank">GBIF</a> and <a href="https://flickr.com" target="_blank">Flickr</a> to display raw occurrence data.<br/><br/>Performs extent of occurrence (EOO) and area of occupancy (AOO) analysis.</p>
          </div>
          <div class="block last">
            <h3>Red List assessment compliant</h3>
            <p>Endorsed by Kew Gardens, ViBRANT and IUCN, GeoCAT supports the Red Listing process to help identify and conserve threatened species.</p>
            <span class="logos">
              <a class="iucn" href="https://iucn.org" target="_blank">IUCN</a>
              <a class="kew" href="https://kewgardens.org" target="_blank">KEW</a>
              <a class="vibrant" href="https://vbrant.eu" target="_blank">VIBRANT</a>
              <a class="seventh" href="https://cordis.europa.eu/fp7/home_en.html" target="_blank">7th framework</a>
              <a class="eu" href="https://europa.eu/index_en.htm" target="_blank">EU</a>
              <a class="nerc" href="https://www.nerc.ac.uk" target="_blank">NERC</a>
            </span>
          </div>
        </div>
        <div class="video">
          <iframe src="https://player.vimeo.com/video/22739331?title=0&amp;byline=0&amp;portrait=0" width="550" height="308" frameborder="0"></iframe>
        </div>
        <nav class="links_menu">
        	<a href="/about">ABOUT</a>
        	<a href="/help">HELP</a>
        </nav>
      </div>

      <footer>
        <div class="inner">
          <div class="left">
            <p>All rights reserved. <%= Time.now.year %>. <a href="https://www.kew.org/about-kew/website-information/legal-notices/" target="_blank">Legal terms</a> / <a href="mailto:GISUnit@kew.org">Contact us</a></p>
          </div>
          <div class="right">
            <a href="https://www.vizzuality.com" target="_blank">Vizzuality</a>
            <p>Developed by</p>
          </div>
        </div>
      </footer>
    </section>

    <%= render 'shared/analytics' %>
