    <% content_for :js do %>
      

      <script type="text/javascript" charset="utf-8">
        var upload_information;
        <% if @geocat_json %>
          upload_information = <%= @geocat_json.html_safe %>;
        <% end %>
      </script>
    <% end %>



    <div id="editor">
      <ul class="editor_list">
        <li><a onclick="changeApplicationTo(5)">Close tool</a></li>
        <li class="first"><a onclick="changeApplicationTo(3)">Help</a></li>
      </ul>

      <div id="tools">
        <div class="table">
          <div class="header">
            <div class="top-left-tool"></div>
            <div class="top-repeat-tool">
              <div class="left">
                <h2>TOOLS</h2>
              </div>
              <div class="right">
                <h2>ANALYSIS AND SOURCES</h2>
              </div>
            </div>
            <div class="top-right-tool"></div>
          </div>
          <div class="center">
            <div class="left-repeat-tool"></div>
            <div class="center-tool">
              <div class="left">
                <a onclick="setStatus('select')" class="select selected"></a>
                <a onclick="setStatus('selection')" class="selection"></a>
                <a onclick="setStatus('add')" class="add"></a>
                <a onclick="setStatus('remove')" class="remove"></a>
                <a onclick="openLayers(event)" class="layer"></a>
              </div>
              <div class="right">
                <div class="analysis">
                  <div class="inner_analysis">
                    <a id="toggle_analysis" class="disabled"><span></span></a>
                    <h3 class="disabled">Enables EOO/AOO</h3>
                    <div class="analysis_data">
                      <ul>
                        <li>
                          <label>Extent of Occurrence</label>
                          <p>0 km<sup>2</sup></p>
                        </li>
                        <li>
                          <label>Area of Occupancy</label>
                          <p>0 km<sup>2</sup></p>
                          <p class="change">AOO based on user defined<br/>cell width (2 km), <a class="change">change</a></p>
                        </li>
                      </ul>
                      <span><a class="disabled" id="report_button">Print complete report</a></span>
                    </div>
                    <div class="cellsize">
                      <h4>CHANGE CELL SIZE</h4>
                      <a id="auto_value">Use auto value</a>
                      <span><label>SIDE LENGTH</label><p>2KM</p></span>
                      <div class="slider"></div>
                      <p>Determines cell width used during the Area of Occupancy (AOO) analysis</p>
                      <div class="bottom">
                        <a class="default">set IUCN value</a>
                        <a class="done">DONE</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="sources">
                  <span><h3>NO SPECIES IN YOUR ASSESSMENT</h3></span>
                  <ul id="sources_list">
                    <div class="add_new_source">
                      <button onclick="$('#add_source_button').click()">Add a new source</button>
                    </div>
                    <!-- Merge window -->
                    <div class="merge_container">
                      <h4>MERGE NEW FLICKR POINTS</h4>
                      <p>There are 2 new points in flickr.</p>
                      <div><a class="merge_button"></a><a class="cancel">Cancel</a></div>
                      <span class="arrow"></span>
                    </div>
                    <!-- Delete all window -->
                    <div class="delete_all">
                      <h4>DELETE ALL FLICKR POINTS</h4>
                      <p>Are you sure you want to delete all these points?</p>
                      <div><a class="yes"></a><a class="cancel">cancel</a></div>
                      <span class="arrow"></span>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
            <div class="right-repeat-tool"></div>
          </div>
          <div class="footer">
            <div class="bottom-left-tool"></div>
            <div class="bottom-repeat-tool">
              <a class="add_source" id="add_source_button">Add source</a>
              <div id="add_source_container">
                <div class="top">
                  <a onclick="closeSources()" id="close_sources"></a>
                  <div class="bottom">
                    <div class="middle">
                      <ul>
                        <li>
                          <a id="add_flickr" class="checkbox">Add points from Flickr</a>
                          <span class="search">
                            <input type="text" value="Insert species name" />
                            <a class="search enabled">search</a>
                          </span>
                          <span class="loading">
                            <p>Loading...</p>
                            <a class="import_data">import</a>
                          </span>
                        </li>
                        <li>
                          <a id="add_gbif" class="checkbox">Add points from GBIF</a>
                          <span class="search">
                            <input type="text" value="Insert species name" />
                            <a class="search enabled">search</a>
                          </span>
                          <span class="loading">
                            <p>Loading...</p>
                            <a class="import_data">import</a>
                          </span>
                        </li>
                        <li>
                          <a id="add_dwc" class="checkbox import_file">Import .DWC</a>
                          <span class="import">
                            <div class="inner">
                              <a class="delete"></a>
                              <div class="uploader" id="dwc_uploader"><noscript></noscript></div>
                            </div>
                            <a class="import_data">import</a>
                          </span>
                        </li>
                        <li>
                          <a id="add_geocat" class="checkbox import_file">Import .GeoCAT,.CSV</a>
                          <span class="import">
                            <div class="inner">
                              <a class="delete"></a>
                              <div class="uploader" id="geocat_uploader"><noscript></noscript></div>
                            </div>
                            <a class="import_data">import</a>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-right-tool"></div>
          </div>
        </div>
      </div>

      <div id="map_container">
        <div class="table">
          <div class="header">
            <div class="top-left-map"></div>
            <div class="top-repeat-map">
              <h1 class="report_name"><p><%= @report_name.blank? ? 'Untitled report' : CGI::unescape(@report_name) %></p><input type="text" value="<%= @report_name.blank? ? 'Untitled report' : CGI::unescape(@report_name) %>"/><sup>(unsaved)</sup></h1>
            </div>
            <div class="top-right-map">
              <span id="beta"></span>
            </div>
          </div>
          <div class="center">
            <div class="left-repeat-map">
               <div id="zoom">
                  <a class="zoom_in"></a>
                  <ul>
                    <li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li class="selected"></li>
                  </ul>
                  <a class="zoom_out"></a>
                </div>
            </div>
            <div class="center-map">
              <div id="map"></div>
            </div>
            <div class="right-repeat-map">
              <div id="map_type">
                <div class="map_type">
                  <a class="select_map_type"><span>TERRAIN</span></a>
                  <ul class="map_type_list">
                    <li onclick="map.setMapTypeId(google.maps.MapTypeId.TERRAIN)">TERRAIN</li>
                    <li onclick="map.setMapTypeId(google.maps.MapTypeId.ROADMAP)">ROADMAP</li>
                    <li onclick="map.setMapTypeId(google.maps.MapTypeId.SATELLITE)">SATELLITE</li>
                    <li onclick="map.setMapTypeId(google.maps.MapTypeId.HYBRID)">HYBRID</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="footer">
            <div class="bottom-left-map"></div>
            <div class="bottom-repeat-map">
              <div class="left">
                <a class="undo"></a>
                <a class="redo"></a>
                <p id="action_info"><span></span></p>
              </div>
              <div class="right">
                <a onclick="changeApplicationTo(7)" class="export">DOWNLOAD DATA</a>
                <a onclick="downloadGeoCAT('geocat')" class="download">SAVE PROJECT</a>
              </div>
            </div>
            <div class="bottom-right-map"></div>
          </div>
        </div>
      </div>


      <footer class="app_footer">
        <div class="inner">
          <div class="left">
            <p>Geospatial Conservation Assessment Tool. All rights reserved. <%= Time.now.year %>. <a href="http://www.kew.org/about-kew/website-information/legal-notices/">Legal terms</a> / <a href="mailto:GISUnit@kew.org">Contact us</a> / <a href="https://kewgis.uservoice.com/" target="_blank" class="feedback">feedback</a></p>
          </div>
          <div class="right">
            <a href="http://www.vizzuality.com" target="_blank">
              <%= image_tag 'editor/vizzuality_black.png', :alt => 'Vizzuality' %>
            </a>
            <p>Developed by</p>
          </div>
        </div>
      </footer>
    </div>



  <form style="display:none" id="download_form" name="download_form" action="/download" method="post" target="_blank" enctype="multipart/form-data">
    <!-- <input style="display:none" type="text" name="geocat" id="geocat_input" /> -->
    <input style="display:none" type="text" name="format" id="format_input" />
    <textarea id="geocat_input" name="geocat"></textarea>
  </form>

  <%= render 'shared/analytics' %>