<div class="inner">
  <a class="close"></a>
  <h3>EDITING METADATA</h3>

  <% if (geocat_kind === "gbif") { %>
    <div class="verbatim">
      <% if (!interpretedFrom) { %>
        <div class="loader"></div>
      <% } %>
      <p class="bold" title="<%= unescape(scientificName) %>"><%= unescape(scientificName) %></p>
      <p id="metadata_interpretedFrom" title="<%= unescape(interpretedFrom) %>"><%= unescape(interpretedFrom) %></p>
    </div>
  <% } %>

  <form class="metadata">

    <div class="row">
      <div class="field field-1">
        <label>LATITUDE</label>
        <input type="text" value='<%= unescape(latitude) %>' class="text" id="metadata_latitude" data-validation="number empty" />
      </div>
      <div class="field field-1">
        <label>LONGITUDE</label>
        <input type="text" class="text" value='<%= unescape(longitude) %>' id="metadata_longitude" data-validation="number empty" />
      </div>
    </div>

    <div class="row">
      <div class="field field-2">
        <label>COLLECTOR</label>
        <input type="text" class="text" id="metadata_collector" value='<%= unescape(collector) %>' />
      </div>
      <div class="field field-1">
        <label>COLLECT. NUMBER</label>
        <input type="text" class="text" value='<%= unescape(collectorNumber) %>' id="metadata_collector_number" data-validation="number" />
      </div>
    </div>

    <div class="row">
      <div class="field field-2">
        <label>LOCALITY</label>
        <input type="text" class="text" value='<%= unescape(locality) %>' id="metadata_locality" />
      </div>
      <div class="field field-1">
        <label>REPOR. PRECISION</label>
        <input type="text" class="text" value='<%= unescape(coordinateUncertaintyInMeters) %>'  id="metadata_coordinateUncertaintyInMeters" />
      </div>
    </div>

    <div class="row">
      <div class="field field-1">
        <label>COUNTRY</label>
        <input type="text" class="text" value='<%= unescape(country) %>' id="metadata_country" />
      </div>
      <div class="field field-1">
        <label>STATE/PROVINCE</label>
        <input type="text" class="text" value='<%= unescape(stateProvince) %>' id="metadata_stateProvince" />
      </div>
      <div class="field field-1">
        <label>COUNTY</label>
        <input type="text" class="text" value='<%= unescape(county) %>' id="metadata_county" />
      </div>
    </div>

    <div class="row">
      <div class="field field-1">
        <label>COLLECTION CODE</label>
        <input type="text" class="text" value='<%= unescape(collectionCode) %>' id="metadata_collectionCode" />
      </div>
      <div class="field field-1">
        <label>INSTITUTION CODE</label>
        <input type="text" class="text" value='<%= unescape(institutionCode) %>' id="metadata_institutionCode" />
      </div>
      <div class="field field-1">
        <label>CATALOG NUMBER</label>
        <input type="text" class="text" value='<%= unescape(catalogNumber) %>' id="metadata_catalogNumber" />
      </div>
    </div>

    <div class="row">
      <div class="field field-1">
        <label>ALTITUDE</label>
        <input type="text" class="text" value='<%= unescape(verbatimElevation) %>' id="metadata_verbatimElevation" data-validation="number" />
      </div>
      <div class="field field-1">
        <label>DATE COLLECTED</label>
        <input type="text" class="text" value='<%= unescape(eventDate) %>' id="metadata_eventDate" data-validation="date" />
      </div>
      <div class="field field-1">
        <label>ORIGIN</label>
        <input type="text" class="text" value='<%= unescape(geocat_kind) %>' id="metadata_geocat_kind" />
      </div>
    </div>

    <div class="row">
      <div class="field field-2">
        <label>IDENTIFIER</label>
        <input type="text" class="text" value='<%= unescape(identifiedBy) %>' id="metadata_identifiedBy" />
      </div>
      <div class="field field-1">
        <label>BASIS OF RECORD</label>
        <input type="text" class="text" value='<%= unescape(basisOfRecord) %>' id="metadata_basisOfRecord" />
      </div>
    </div>

    <div class="row">
      <div class="field field-1">
        <label>PRESENCE</label>
        <select id="metadata_presence">
          <option <% if (unescape(presence) === 'Extant') { %>selected<% } %>>Extant</option>
          <option <% if (unescape(presence) === 'Possibly Extant') { %>selected<% } %>>Possibly Extant</option>
          <option <% if (unescape(presence) === 'Possibly Extinct') { %>selected<% } %>>Possibly Extinct</option>
          <option <% if (unescape(presence) === 'Extinct') { %>selected<% } %>>Extinct</option>
          <option <% if (unescape(presence) === 'Presence Uncertain') { %>selected<% } %>>Presence Uncertain</option>
          <option <% if (unescape(presence) === 'N/A') { %>selected<% } %>>N/A</option>
        </select>
      </div>
      <div class="field field-1">
        <label>ORIGIN</label>
        <select id="metadata_origin">
          <option <% if (unescape(origin) === 'Native') { %>selected<% } %>>Native</option>
          <option <% if (unescape(origin) === 'Reintroduced') { %>selected<% } %>>Reintroduced</option>
          <option <% if (unescape(origin) === 'Introduced') { %>selected<% } %>>Introduced</option>
          <option <% if (unescape(origin) === 'Vagrant') { %>selected<% } %>>Vagrant</option>
          <option <% if (unescape(origin) === 'Origin Uncertain') { %>selected<% } %>>Origin Uncertain</option>
          <option <% if (unescape(origin) === 'N/A') { %>selected<% } %>>N/A</option>
        </select>
      </div>
      <div class="field field-1">
        <label>SEASONAL</label>
        <select id="metadata_seasonal">
          <option <% if (unescape(seasonal) === 'Resident') { %>selected<% } %>>Resident</option>
          <option <% if (unescape(seasonal) === 'Breeding Season') { %>selected<% } %>>Breeding Season</option>
          <option <% if (unescape(seasonal) === 'Non-Breeding season') { %>selected<% } %>>Non-Breeding season</option>
          <option <% if (unescape(seasonal) === 'Passage') { %>selected<% } %>>Passage</option>
          <option <% if (unescape(seasonal) === 'Seasonal Occurrence Uncertain') { %>selected<% } %>>Seasonal Occurrence Uncertain</option>
          <option <% if (unescape(seasonal) === 'N/A') { %>selected<% } %>>N/A</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="field field-0">
        <label>SENSITIVE</label>
        <select id="metadata_data_sens">
          <option <% if (unescape(data_sens) === 'Yes') { %>selected<% } %>>Yes</option>
          <option <% if (unescape(data_sens) === 'No' || unescape(data_sens) == "") { %>selected<% } %>>No</option>
        </select>
      </div>
      <div class="field field-0">
        <label>SENSE NOTES</label>
        <input type="text" class="text" id="metadata_sens_comm" value='<%= unescape(sens_comm) %>' />
      </div>
      <div class="field field-0">
        <label>COMPILER</label>
        <input type="text" class="text" id="metadata_compiler" value='<%= unescape(compiler) %>' />
      </div>
      <div class="field field-0">
        <label class="year_compiled">YEAR COMPILED</label>
        <input type="text" class="text" id="metadata_yrcompiled" value='<%= unescape(yrcompiled) %>' />
      </div>
    </div>
    <div class="row">
      <div class="field field-3">
        <label>NOTES</label>
        <input type="text" class="text" value='<%= unescape(occurrenceRemarks) %>' id="metadata_occurrenceRemarks" />
      </div>
    </div>

    <div class="row">
      <div class="field field-3">
        <label>URL</label>
        <a class="url" target="_blank" href="<%= occurrenceDetails %>">Visit URL</a>
        <input type="text" class="text" value='<%= unescape(occurrenceDetails) %>' id="metadata_occurrenceDetails" data-validation="url" />
      </div>
    </div>

    <div class="row">
      <div class="field field-3">
        <label>
          MAP PRECISION
          <span class="slider_value">0KM</span>
        </label>
        <div class="slider"></div>
      </div>
    </div>

    <div class="row">
      <div class="field field-3">
        <a class="cancel" href="#/cancel">Cancel</a>
        <input type="submit" class="submit" value="Save changes" />
      </div>
    </div>

    <span class="error"><p></p></span>
  </form>
</div>
