<span class="band <%= type %>"></span>
<div class="info">
  <form>
    <input type="text" class="text" value="<%= query %>" readonly />
    <p class="total">
      <%= total %> <em class="<%= type %>"><%= type %></em>
      point<% if (total != 1) { %>s<% } %>
    </p>
  </form>
</div>
<div class="actions">
  <a href="#/change-visibility" class="visible_specie <%= visible ? 'on' : '' %>">visible</a>
  <span class="controls">
    <a href="#/merge" class="merge_specie">merge</a>
    <a href="#/remove" class="delete_specie">remove</a>
  </span>
</div>