<!DOCTYPE html>
<html>
  <head>
    <title>Geospatial analysis tool for Red List assessment</title>
    <link rel="shortcut icon" href="/favicon.ico" >
    <%= include_stylesheets :base %>
    <%= yield :css %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <%= yield :js %>
  </body>
</html>
