<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GeoCAT</title>
    <link rel="shortcut icon" href="/images/favicon.ico" >
    <%= stylesheet_link_tag('layout','jquery-ui-1.8.2.custom', 'select2') %>
    <%= yield :css %>
    <%= javascript_include_tag "/javascripts/plugins/head.load.min.js" %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <a href="/help" target="_blank" class="support">support</a>
  </body>
</html>
