<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GeoCAT</title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag :reset, :layout, :jqueryui, :select2 %>
    <%= yield :css %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
    <a href="/help" target="_blank" class="support">support</a>
  </body>
</html>
